mixin socials(buttonClass="")
    button.button-icon(class=buttonClass)
        svg.s-36
            use(href="img/sprite.svg#mail")
    button.button-icon(class=buttonClass)
        svg.s-36
            use(href="img/sprite.svg#whatsapp")
    button.button-icon(class=buttonClass)
        svg.s-36
            use(href="img/sprite.svg#telegram")