div.app-aside
    div.product-small
        div.__top
            div.product-small__promo WOW-цена
        div.badge -50%

        div.__image
            img(src="img/salut.png" alt="")

        div.__title
            span Салют Z811 Инкогнито
            span (1,2 х 13)

        div.price
            span 1650
            span ₽

        div.__action
            button.button.-small.-accent-outline
                span Подробнее

    button.button
        span Смотреть все акции

